/*
Solarized color scheme https://en.wikipedia.org/wiki/Solarized_(color_scheme)
background color Base03 #002b36 
font color       Base2  #eee8d5
*/

body {
  background-color: #eee8d5;
  font-family: 'Courier New', monospace;
  font-size: 16px;
}

h1 {
  color: #003d4d;
  margin-left: 40px;
  white-space: pre;
}

p {
  color: #003d4d;
  white-space: pre;
}

pre {
  color: #003d4d;
  white-space: pre;
}

canvas {
  border: 1px solid #000;
}




.toggle-box {
  display: none;
}

.toggle-box + label {
  display: block;
}

.toggle-box + label + div {
  display: none;
}

.toggle-box:checked + label + div {
  display: block;
}


/* advanced version
.toggle-box {
  display: none;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-box + label + div {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div {
  display: block;
}

.toggle-box + label:before {
  background-color: #4F5150;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

.toggle-box:checked + label:before {
  content: "\2212";
}
*/