/*
Solarized color scheme https://en.wikipedia.org/wiki/Solarized_(color_scheme)
background color Base03 #002b36 
font color       Base2  #eee8d5
*/

body {
  background-color: #eee8d5;
  font-family: 'Courier New', monospace;
  font-size: 16px;
}

h1 {
  color: #003d4d;
  margin-left: 40px;
  white-space: pre;
}

p {
  color: #003d4d;
  white-space: pre;
}

pre {
  color: #003d4d;
  white-space: pre;
}

canvas {
  border: 1px solid #000;
}
