/*
Solarized color scheme https://en.wikipedia.org/wiki/Solarized_(color_scheme)
background color Base03 #002b36 
font color       Base2  #eee8d5
*/


table {
  border-collapse: collapse;
  border-color: white;
}

table, th, td {
  border: 1px solid black;
  border-color: white;
}

:root {
  --background-color: #434351;
  --font-color: #bac5d6;
  --lines-color: red;
}

 /* unvisited link */
a:link {
  color: #ff8f46;
  background-color: transparent;
}

/* visited link */
a:visited {
  color: #ff8f46;
  background-color: transparent;
}

/* mouse over link */
a:hover {
  color: #f95142;
  background-color: transparent;
}

/* selected link */
a:active {
  color: red;
  background-color: transparent;
} 



body {
  background-color: var(--background-color);
  font-family: 'Courier New', monospace;
  font-size: 16px;
}

h1 {
  color: var(--font-color);
  margin-left: 40px;
  white-space: pre;
}

p {
  color: var(--font-color);
  white-space: pre;
}

pre {
  color: var(--font-color);
  white-space: pre;
}

canvas {
  border: 1px solid #000;
}





.toggle-box {
  display: none;
}

.toggle-box + label {
  display: block;
}

.toggle-box + label + div {
  display: none;
}

.toggle-box:checked + label + div {
  display: block;
}










/* advanced version
.toggle-box {
  display: none;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-box + label + div {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div {
  display: block;
}

.toggle-box + label:before {
  background-color: #4F5150;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

.toggle-box:checked + label:before {
  content: "\2212";
}
*/